body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    border: 1px solid rgb(138, 128, 128);
    height: 550px;
    width: 300px;
    padding: 10px;
    
    
        
}
.sub-cont
{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.input-1{
    height: 50px;
    width: 80%;
    font-size: 30px;
}
.button-1{
    height: 65px;
    width: 65px;
    margin: 10PX;
    font-size: 25px;
    margin-bottom: 5px;
}
.cont-1{
    display: flex;
    justify-content: center;
}